@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

::-webkit-scrollbar {
  display: none;
}

body {
  background: #0F1417;
  color:#ededed ;
  font-family: var(--space-grotesk), sans-serif;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
  scrollbar-width: none;

}

img {
  max-width: 100%;
  height: auto;
}
